language: php
php:
  - "7.0"
  - "5.6"
  - "5.5"

env:
  - SYMFONY_VERSION=2.6.*
  - SYMFONY_VERSION=2.7.*
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.0.*

matrix:
  fast_finish: true

sudo: false

before_script:
    - composer self-update
    - composer require symfony/symfony:${SYMFONY_VERSION} --no-update
    - composer install --dev --prefer-source --no-interaction

script:
    - php vendor/bin/phpunit
